.popup__close {
    border: none;
    cursor: pointer;
    /* align-self: flex-end; */
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -40px;
    margin-right: -24px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 690px) {
    .popup__close {
        max-width: 20px;
        height: 20px;
        margin-right: 6px;
        margin-top: -35px;
    }
}