.profile__subtitle {
    color: white;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 21.78px;
}

@media screen and (max-width: 1024px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 16.94px;
    }
}