.popup__edit {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    width: 100%;
    text-align: start;
    line-height: 16.94px;
}

.popup__edit-name:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
}