.popup__column {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 470px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width: 690px) {
    .popup__column {
        max-width: 282px;
    }
}